{% extends 'Base.html' %}
{% load static %}
{% block title %}
    Teacher_pages
{% endblock %}
{% block teacher_content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Teachers</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Teachers</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
                <h1>Meet Our Teachers</h1>
            </div>
            <div class="row">
                {% for teacher in page_obj %}
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <a href="{% url 'teacher_details' teacher.id %}">
                                <img class="img-fluid" src="{{ teacher.image.url }}" alt="{{ teacher.name }}">
                            </a>
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <a href="{% url 'teacher_details' teacher.id %}" class="text-decoration-none">
                             <div class="bg-secondary p-4">
                                 <h5>{{ teacher.category }}</h5>
                               
                              </div>
                        </a>
                    </div>
                </div>
               {% endfor %}
            </div>
                <div class="d-flex align-items-center justify-content-center mt-4">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-falcon-default me-1" href="?page={{ page_obj.previous_page_number }}" title="Previous">
                    <span class="fas fa-chevron-left"></span>
                </a>
            {% else %}
                <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" disabled>
                    <span class="fas fa-chevron-left"></span>
                </button>
            {% endif %}
            <ul class="pagination mb-0">
                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="page-item active">
                            <span class="page-link">{{ page_num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-falcon-default ms-1" href="?page={{ page_obj.next_page_number }}" title="Next">
                    <span class="fas fa-chevron-right"></span>
                </a>
            {% else %}
                <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" disabled>
                    <span class="fas fa-chevron-right"></span>
                </button>
            {% endif %}
        </div>

        </div>
    </div>
    <!-- Team End -->
{% endblock %}