{% extends 'Base.html' %}
{% load static %}
{% block title %}
    Teacher Details
{% endblock %}
{% block teacher_detail_content %}
<!-- Teacher details section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0 img-fluid w-50" src="{{ teacher.image.url }}" alt="{{ teacher.name }}" />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">Level: {{ teacher.level }}</div>
                <h1 class="display-5 fw-bolder">{{ teacher.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ teacher.category }}</span><br>
                    
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="lead">{{ teacher.description }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Comments section -->

{% endblock %}
