{% extends 'Base.html' %}
{% load static %}
{% block title %}
    Blog Page
{% endblock %}
{% block blog_content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Blog</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Blog</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row pb-3">
                       
                        <div class="col-lg-6 mb-4">
                             {% for blog in page_obj %}
                            <div class="blog-item position-relative overflow-hidden rounded mb-2">
                             <a href="{% url 'blog_detail' blog.id %}">
                                        <img class="img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                    </a>                                
                                <a class="blog-overlay text-decoration-none" href="{% url 'blog_detail' blog.id %}">
                                    <h5 class="text-white mb-3">{{ blog.title }}</h5>
                                    <p class="text-primary m-0">{{ blog.join_date }}</p>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        
                       <div class="d-flex align-items-center justify-content-center mt-4">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-sm btn-falcon-default me-1" href="?page={{ page_obj.previous_page_number }}" title="Previous">
                                <span class="fas fa-chevron-left"></span>
                            </a>
                        {% else %}
                            <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" disabled>
                                <span class="fas fa-chevron-left"></span>
                            </button>
                        {% endif %}
                        <ul class="pagination mb-0">
                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_obj.number == page_num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ page_num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if page_obj.has_next %}
                            <a class="btn btn-sm btn-falcon-default ms-1" href="?page={{ page_obj.next_page_number }}" title="Next">
                                <span class="fas fa-chevron-right"></span>
                            </a>
                        {% else %}
                            <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" disabled>
                                <span class="fas fa-chevron-right"></span>
                            </button>
                        {% endif %}
                    </div>
                    </div>
                </div>

               <div class="col-lg-4 mt-5 mt-lg-0">



                   <form action="">
                            <div class="input-group">
                                <input type="search" name="search" class="form-control form-control-lg" placeholder="Keyword">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </form>
                    <!-- Category List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                        {% for category in categories %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="" class="text-decoration-none h6 m-0">{{ category.name }}</a>
                                <span class="badge badge-primary badge-pill">150</span>
                            </li>
                           
                        </ul>
                        {% endfor %}
                    </div>

                    <!-- Recent Post -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                        {% for recent_blog in recent_blogs %}
                        <a class="d-flex align-items-center text-decoration-none mb-3" href="{% url 'blog_detail' recent_blog.id %}">
                            <img class="img-fluid rounded" src="{{ recent_blog.image.url }}" alt="">
                            <div class="pl-3">
                                <h6 class="m-1">{{ recent_blog.title }}</h6>
                                <small>{{ recent_blog.join_date }}</small>
                            </div>
                        </a>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}